<table>
    <thead>
        <tr>
            <th *ngFor="let c of metadata?.columns">{{c.title}}</th>
            <th>Akcije</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let r of data">
            <td *ngFor="let c of metadata?.columns">{{c.displayFn ? c.displayFn(get(r, c['key']), data, c['key']) : get(r, c['key'])}}</td>
            <td>
                <button (click)="emitAction(a.event, r)" *ngFor="let a of metadata?.allowedActions">
                    {{a.title}}
                </button>
            </td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td *ngFor="let c of metadata?.columns">
                {{c.footer?.(data, c["key"])}}
            </td>
        </tr>
    </tfoot>
</table>