<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Ime</th>
            <th>Prezime</th>
            <th>Broj indeksa</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let s of students">
            <td>{{s.id}}</td>
            <td>{{s.ime}}</td>
            <td>{{s.prezime}}</td>
            <td>{{s.brojIndeksa}}</td>
        </tr>
    </tbody>
</table>

<button (click)="refresh()">Refresh</button>