<form (submit)="naSubmit()" [formGroup]="studentForma" ngNativeValidate>
  <div>
    <label>Broj indeksa: <input formControlName="brojIndeksa" name="brojIndeksa" type="text" required></label>
  </div>
  <div>
    <label>Ime: <input formControlName="ime" name="ime" type="text" required></label>
  </div>
  <div>
    <label>Prezime: <input formControlName="prezime" name="prezime" type="text" required></label>
  </div>
  <div>
    <label>Godina upisa: <input formControlName="godinaUpisa" [appProveraNepostojecihVrednosti]="studentForma.value['godinaUpisa']" name="godinaUpisa"
        type="number" required></label>
  </div>
  <div>
    <label>Smer:
      <select name="smer" formControlName="smer" [compareWith]="comparator">
        <option *ngFor="let smer of smerovi; trackBy: smerTrackBy" [ngValue]="smer">{{smer.naziv}}</option>
      </select>
    </label>
  </div>
  <div>
    <label>Prosečna ocena: <input formControlName="prosecnaOcena" name="prosecnaOcena" type="number" step="0.01" min="5" max="10"></label>
  </div>
  <div>
    <button *ngIf="studentForma.value['id']==undefined" type="submit">Dodaj studenta</button>
    <button *ngIf="studentForma.value['id'] != undefined" type="submit">Izmeni studenta</button>
    <button (click)="resetForme()" *ngIf="studentForma.value['id'] != undefined" type="button">Odustani</button>
  </div>
</form>