<form (submit)="naSubmit()" ngNativeValidate>
    <div>
      <label>Broj indeksa: <input name="brojIndeksa" [(ngModel)]="student.brojIndeksa" type="text" required></label>
    </div>
    <div>
      <label>Ime: <input [(ngModel)]="student.ime" name="ime" type="text" required></label>
    </div>
    <div>
      <label>Prezime: <input [(ngModel)]="student.prezime" name="prezime" type="text" required></label>
    </div>
    <div>
      <label>Godina upisa: <input [appProveraNepostojecihVrednosti]="student['godinaUpisa']" [(ngModel)]="student.godinaUpisa" name="godinaUpisa" type="number" required></label>
    </div>
    <div>
      <label>Smer:
        <select name="smer" [(ngModel)]="student.smer" [compareWith]="comparator">
          <option *ngFor="let smer of smerovi; trackBy: smerTrackBy" [ngValue]="smer">{{smer.naziv}}</option>
        </select>
      </label>
    </div>
    <div>
      <label>Prosečna ocena: <input [(ngModel)]="student.prosecnaOcena" name="prosecnaOcena" type="number" step="0.01"
          min="5" max="10"></label>
    </div>
    <div>
      <button *ngIf="student.originalniIndeks===undefined" type="submit">Dodaj studenta</button>
      <button *ngIf="student.originalniIndeks != undefined" type="submit">Izmeni studenta</button>
      <button (click)="resetForme()" *ngIf="student.originalniIndeks != undefined" type="button">Odustani</button>
    </div>
  </form>