<h2>Pretraga studenata</h2>
<form (submit)="pretrazi()" [formGroup]="parametriForma" ngNativeValidate>
  <div>
    <label>Broj indeksa: <input formControlName="brojIndeksa" name="brojIndeksa" type="text"></label>
  </div>
  <div>
    <label>Ime: <input formControlName="ime" name="ime" type="text"></label>
  </div>
  <div>
    <label>Prezime: <input formControlName="prezime" name="prezime" type="text"></label>
  </div>
  <div>
    <label>Godina upisa od: <input formControlName="godinaUpisaOd" name="godinaUpisaOd" type="number"></label>
    <label>Godina upisa do: <input formControlName="godinaUpisaDo" name="godinaUpisaDo" type="number"></label>
  </div>
  <div>
    <label>Smer:
      <select name="smer" formControlName="smer">
        <option *ngFor="let smer of smerovi; trackBy: smerTrackBy" [ngValue]="smer">{{smer.naziv}}</option>
      </select>
    </label>
  </div>
  <div>
    <label>Prosečna ocena od: <input formControlName="prosecnaOcenaOd" name="prosecnaOcenaOd" type="number"
        step="0.01" min="5" max="10"></label>
    <label>Prosečna ocena do: <input formControlName="prosecnaOcenaDo" name="prosecnaOcenaDo" type="number"
        step="0.01" min="5" max="10"></label>
  </div>
  <div>
    <button type="submit">Pretrazi studente</button>
  </div>
</form>